body h4{
    font-size:20px;
    font-weight:bold;
}
body h4:hover{
    -webkit-filter: brightness(0.3);
   -moz-filter: brightness(0.3);
    -ms-filter: brightness(0.3);
     -o-filter: brightness(0.3);
filter: brightness(0.3);
cursor:pointer;
}

footer.fixar-rodape{
  /* border-top: 1px solid #333; */
  bottom: 0;
  left: 0;
  height: 20px;
  position: fixed;
  width: 100%;
}

.mn{
    padding-top: 0;padding-bottom: 0;
    margin-top: 0;margin-bottom: 0;
}