.container-fluid{
     max-width: 950px; margin-right: auto;margin-left: auto;margin-bottom: 0;
}
body h4:hover{
    -webkit-filter: brightness(0.3);
   -moz-filter: brightness(0.3);
    -ms-filter: brightness(0.3);
     -o-filter: brightness(0.3);
filter: brightness(0.3);
cursor:pointer;
}

.mn{
    padding-top: 0;padding-bottom: 0;
    margin-top: 0;margin-bottom: 0;
}
.footer {
   position:fixed;
   bottom:0px;
   height:20px;
   width:100%;
}