.sandwishBtn {
    font-size: 2rem;
    cursor: pointer;
    z-index: -1;
    filter: invert(100%);
}

.sandwishBtn:hover {
    filter: invert(50%);
}

.logo {
    z-index: 1;
}

.logo img {
    float: left;
    cursor: pointer;
    width: 5rem;
}

.parallax {
    /* The image used */
    background-image: url("../images/Lighthouse.jpg");
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


body{overflow-x: hidden;}